Cython>=0.29.1
numpy>=1.15.1
opencv-python>=3.4.4.19
Pillow>=5.3.0
torch>=1.0.0
torchvision>=0.2.1
albumentations>=0.4.5
tqdm>=4.28.1
scikit-image>=0.15.0
pytest-depends>=1.0.1
pytest-mock>=3.1.1
pytest-repeat>=0.8.0
